@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
   padding: 0;
   margin: 0;
   background-image: url(pink.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.navbar ul {
    display: flex;
    justify-content: right;
}

.navbar li {
    list-style: none;
    margin-left: 20px;
}

.navbar ul li a {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
}

.navbar ul li a:hover {
    background-color: #ffffff;
    color: #ff5e78;
}

.post-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 40px;
    width: 800px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 36px;
    text-align: center;
    color: #ff5e78;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form_style {
    width: 100%;
    padding: 15px;
    margin-top: 8px;
    border-radius: 8px;
    border: 2px solid #ff5e78;
    font-size: 16px;
    background-color: #fce4ec;
}

textarea.form_style {
    height: 200px;
    resize: none;
}

.btn {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: #ff5e78;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}

.btn:hover {
    background-color: #ff8a92;
}

label.check {
    cursor: pointer;
    display: inline-block;
    margin: 10px;
}

label.check input {
    display: none;
}

label.check span {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #ff8a92;
    color: white;
    font-size: 14px;
}

label.check input:checked + span {
    background-color: #ff5e78;
    color: white;
}
