<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <style>
        * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
        body {
    padding: 0;
    margin: 0;
}
    #notfound {
    position: relative;
    height: 100vh;
}
    div {
    display: block;
    unicode-bidi: isolate;
}
    .notfound .notfound-404 h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 168px;
    margin: 0px;
    color: #ff508e;
    text-transform: uppercase;
    }
    </style>
</head>
<body>
  <div class="notfound">
    <div class="notfound-404">
    <h1>404</h1>
    </div>
    <h2>Sorry, the page you are looking for does not exist.</h2>
    <a href="/">Go back to the homepage</a>
   </div>
</body>
</html>
