<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/base.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            {{if .IsLoggedIn}}
                <a href="/createPost">Create Post</a>
                <a href="/logout">Logout</a>
                <h1 class="Username">{{.Username}}</h1>
            {{else}}
                <a href="/register" >Register</a>
                
                <a href="/login">Login</a>
            {{end}}
        </nav>
    </header>

    <main>
        <div class="sidebar">
            <h2>Categories</h2>
           
        </div>

        <div class="content">
            {{block "content" .}} {{end}}
        </div>

       
    </main>

    <footer>
        <p>&copy; 2024 Forum</p>
    </footer>
</body>
</html>
