<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>home</title>
    <link rel="stylesheet" href="/static/css/base.css">
</head>

<body>
    
    <main>
        <nav class="navbar">
            <a href="/" class="logo"><i ></i> Fourm</a>
            
            <ul>
                <li><a href="home"><i class="fa fa-home"></i> Home</a></li>
                
                {{if .IsLoggedIn}}

                    <li><a href="/createPost">Create Post</a></li>
                    <li><a href="/myposts">Created Post</a></li>
                    <li><a href="/logout"> <i class="fa fa-sign-out"></i> Logout</a></li>
                   
                {{else}}
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                    
                {{end}}
            </ul>
            <h1 class="UserID">{{.UserID}}</h1>
        </nav>
        <div class="content">
            <div class="info">
                <h1>Welcome to the Forum</h1>
                <p>A place where you can share your ideas</p>
                <div class="sidebar">
                    <h2>Categories</h2>
                    <ul>
                        <form action="/CategoryViewer"  method="post">
                        <div class="categories">
                            {{range .Catagories}}
                          <input type="submit" name="Catagory" value= {{.Catagory}}>
                          {{end}}
                        </div>
                    </form>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; Forum 2024 </p>
    </footer>
</body>
</html>
