<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <p>Create Post</p>
     <form action="/create_post" method="post">
            <div>

                <div>
                     <label for="title">Title</label>
                    <input placeholder="Enter a Title for Post" name="title" id="title" type="text">
                </div> 
                <div>
                    <label for="content">Content</label>
                    
                    <textarea placeholder="What do you think?" name="content" id="content"></textarea>
                </div>
                <div>
                    <button type="submit">Post</button>
                </div>
            </div>
        </form>
</body>
</html>