

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
    <title>Login</title>
    
</head>
<body>

    <div class="container">
       
        <div class="form_area">
            <p class="title">login</p>
        <form action="/login" method="post">
            <div class="form-group">
                <label class="sub_title" for="email"> Email or Username</label>
                <input placeholder="Enter your Email or Username"  name="email" id="email" class="form_style" type="email">
            </div>

            <div class="form-group">
                <label class="sub_title" for="password">Password</label>
                <input placeholder="Enter your password" id="password" name="password" class="form_style" type="password">
            </div>

            <button type="submit">Login</button>
        </form>
    </div>
    </div>

</body>
</html>
