<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css">
    <title>{{.Title}}</title>
</head>
<body>
    <main>
        <h1>{{.Title}}</h1>
        {{if .Posts}}
            <ul>
                {{range .Posts}}
                    <li>
                        <h2>{{.Title}}</h2>
                        <p>{{.Content}}</p>
                    </li>
                {{end}}
            </ul>
        {{else}}
            <p>No created posts found.</p>
        {{end}}
    </main>
</body>
</html>

