<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            {{if .IsLoggedIn}}
                <a href="/createPost">Create Post</a>
                <a href="/logout">Logout</a>
                <h1 class="UserID">{{.UserID}}</h1>
            {{else}}
                <a href="/register" >Register</a>
                
                <a href="/login">Login</a>
            {{end}}
        </nav>
    </header>

    <main>
        <div class="sidebar">
            <h2>Categories</h2>
            <ul>
                <li><a href="#">Technology</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Movie</a></li>
                <li><a href="#">Science</a></li>
                <li><a href="#">Health</a></li>
            </ul>
        </div>

        <div class="content">
            {{block "content" .}} {{end}}
        </div>

       
    </main>

    <footer>
        <p>&copy; Forum 2024 </p>
    </footer>
</body>
</html>
