<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.CateName}} Posts</title>
    <link rel="stylesheet" href="/static/css/viewPost2.css">
</head>
<body>
    <main>
        <nav class="navbar">
            <a href="/" class="logo"><i></i> Forum</a>
            <ul>
                <li><a href="home"><i class="fa fa-home"></i> Home</a></li>
                
                {{if .IsLoggedIn}}
                    <li><a href="/createPost">Create Post</a></li>
                    <li><a href="/myposts">Created Post</a></li>
                    <li><a href="/LikedPosts">Liked Posts</a></li>
                    <li><a style="margin-left: 40px;" href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                {{else}}
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                {{end}}
            </ul>
            <h1 class="UserID">{{.UserID}}</h1>
        </nav>

        {{if .isExist}}
            <div class="content">
                <div class="info">
                 
                    <h1>{{.Title}}</h1>
                
                    <h3>Content:</h3>
                    <p> {{.Content}}</p>
                
                    <p>Author: {{.Author}}</p>

                    <div class="reaction-buttons">
                        {{if .IsLoggedIn}}
                            <button class="like" onclick="location.href='/Like?post_id={{.id}}&like=1'">
                                Like <span class="counter">{{.likes}}</span>
                            </button>
                            <button class="dislike" onclick="location.href='/Like?post_id={{.id}}&like=-1'">
                                Dislike <span class="counter">{{.DisLikes}}</span>
                            </button>
                        {{else}}
                            <button class="like" onclick="location.href='/login'">
                                Like <span class="counter">{{.likes}}</span>
                            </button>
                            <button class="dislike" onclick="location.href='/login'">
                                Dislike <span class="counter">{{.DisLikes}}</span>
                            </button>
                        {{end}}
                    </div>
                 
                    {{if .IsLoggedIn}}
                    <h2>Add a Comment</h2>
                    <form action="/Comment" method="post">
                        <input name="PostID" value="{{.id}}" type="hidden">
                        <textarea name="PostComment" placeholder="Write Your Comment here" required></textarea><br>
                        <input type="submit" class="button-primary" value="Add Comment">
                    </form>
                {{else}}
                    <h2>Add a Comment</h2>
                    <p>Please <a href="/login">log in</a> to add a comment.</p>
                {{end}}
                
                    <hr class="divider">

                    <h2>Comments</h2>
                    {{if .Comments}}
                        <ul>
                        {{range .Comments}}
                            <div class="comment-box">
                                <h3>{{.Author}}</h3>
                                <div class="comment-content" onclick="this.classList.toggle('expanded');">
                                    <p class="comment-text">{{.comment}}</p>
                                </div>
                                <h6>{{.created_at}}</h6>
                            </div>
                        {{end}}
                        </ul>
                    {{else}}
                        <p>No comments yet.</p>
                    {{end}}
                    
                </div>
            </div>
        {{else}}
            <div class="content">
                <div class="info">
                    <h1>This Category is Empty</h1>
                </div>
            </div>
        {{end}}
    </main>
    <footer>
        <p>&copy; Forum 2024 </p>
    </footer>
    
</body>
</html>
